<%- include('includes/header') %>
<body>
    <div class="format1">TEST</div>
    <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/c2/31/d3/c231d3fc96195a69acbbfbaf6b8c58ae.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</body>
<%- include('includes/footer') %>